/* ************************************************************************************************ */
/* Colors *********************************************************************************** */
/* ************************************************************************************************ */

/* Default Colors */
$color-primary: #e3e8ef;
$color-secondary: #6c7178;
$color-success: #39774f;
$color-warning: #dfb13e;
$color-danger: #b73d43;
$color-info: #57b8da;
$color-light: #f9f9fa;
$color-dark: #222529;

/* Alternate Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-gray-400: #444;
