// Primary Colors
$alba-primary-text: #fff;
$alba-primary-bg: #205493;

$alba-primary-hover-bg: #1b8eb7;
$alba-primary-hover-border: #1985ac;

$alba-primary-hover-shadow: rgba(32, 168, 216, 0.5);

$alba-primary-disabled-bg: #20a8d8;
$alba-primary-disabled-border: #20a8d8;